version: '3.8'

services:
  app:
    image: ${IMAGE_NAME}
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    ports:
      - "4000:4000"
    env_file:
      - .env
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:4000"]
      interval: 30s
      timeout: 10s
      retries: 3
    networks:
      - todo-net

networks:
  todo-net:
    driver: bridge
